name: CI/CD Pipeline
run-name: Running CI/CD Pipeline

on: [push, pull_request]

permissions:
  id-token: write
  contents: read

jobs:
  Run-Build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci

      - name: Add Environment Variables
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          cat << EOF > .env
          VITE_APP_VERSION=${{ secrets.VITE_APP_VERSION }}
          VITE_APP_PROXY_BASE_URL=${{ secrets.VITE_PROXY_BASE_URL_DEV }}
          EOF

      - name: Build
        run: npm run build

      - name: Cache Build Artifacts
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/cache@v4
        with:
          path: dist
          key: build-${{ github.run_id }}
          restore-keys: |
            build-

  Run-Tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Check coverage
        run: npm run coverage
